<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babylone.alex.studentorganizer">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add.addLesson"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Add lesson"/>
        <activity
            android:name=".Add.addHomework"
            android:configChanges="orientation"
            android:label="Add homework"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="singh.ajit.action.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Add.AddSession"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Add Session"/>
        <activity
            android:name=".Add.addMark"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Add mark"/>
        <activity
            android:name=".Add.addMarkSession"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SelectedChartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add.addCalendarDay"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="Add Calendar Day"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="Login"/>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:label="Register"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:label="Your profile"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".ChatActivity"
            android:label="Chat"/>
    </application>

</manifest>